.top-tracks-container {
  width: 98%;
  background-color: #fffefe;
  color: black;
  padding: 20px;
  border-radius: 4px;
  height: fit-content;
}

.top-tracks-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

.top-tracks-description {
  padding-left: 2px;
}

.top-tracks-text {
  font-size: 13px;
  color: #777;
}

.top-tracks-music-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This allows the items to wrap to the next line */
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 0.1px; /* Optional: Adds some space between the cards */
  overflow-y: auto;
}

.music-card {
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.top-tracks-track-blur {
  filter: blur(4px) brightness(90%);
}
